body {
    font-family : Arial, sans-serif;
    background-color :lightgray;
    text-align : center;
}
.card {
    width: 250px;
    background-color : White;
    margin :50px auto;
    padding : 20px;
    border-radius :10px;
    box-shadow: 0px opx 10px gray;
}
img {
    border-radius :50%;
}
button {
    padding:10px;
    border:none;
    background-color :blue;
    color: White;
    border-radius :5px;
    cursor: pointer;
}